bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

.idea/
.vscode/
*.swp
*.swo
*.tmp
*.bak

.env
.env.*

*.out
*.prof
c.out

go.work
go.work.sum

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
