ENV=local
ORDER_SERVICE_PORT=8083
ORDER_POSTGRES_PORT=5435

DATABASE_URL=postgres://postgres:postgres@order-postgres:5432/order_db?sslmode=disable
HTTP_SERVER_ADDRESS=:8083
JWT_SECRET=your_super_secret_key_here
PRODUCT_SERVICE_URL=http://product-service:8082

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=order_db

APP_URL=http://localhost:3000
ALLOW_LOCALHOST_ORIGIN=http://localhost:3000,http://localhost:3001
